# Зависимости
/node_modules/

# Файлы среды выполнения
.env
.env.*

# Файлы журналов
*.log

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы пакетов
package-lock.json
yarn.lock

# Директории редакторов кода
.vscode/
.idea/
